body {
	background-color: #fff;
}
.content {
	height: 100%;
}
.case-detail-wrap {
	padding: 0.5rem 0.233rem;
}
.case-detail-wrap .case-title {
	text-align: center;
	font-size: 18px;
}
.case-detail-wrap .case-time {
	text-align: center;
	font-size: 12px;
	color: #a0a0a0;
	margin-top: 0.3rem;
}
.case-detail-wrap .case-content {
	margin-top: 0.5rem;
	text-indent: 0.4rem;
	line-height: 1.4;
}
.case-detail-wrap .case-content img {
	display: block;
	margin: 10px 0;
}