.policies {
	background-color: #fff;
}
.policies li {
	height: 2rem;
	width: 100%;
	box-sizing: border-box;
	padding: 0.6rem 0.453rem;
	border-bottom: 1px solid #d4d3d3;
	position: relative;
}
.policies li a {
	display: block;
	font-size: 14px;
	color: #333;
	max-width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	text-decoration: none;
}
.policies .time {
	display: block;
	font-size: 12px;
	color: #a0a0a0;
	margin-top: 0.2rem;
}
.policies .region {
	position: absolute;
	font-size: 12px;
	color: #a0a0a0;
	bottom: 0.4rem;
	right: 0.5rem;
}